In [1]:
import pandas as pd

# Creation of 4 new features

## Team1_points_against_avg and Team2_points_against_avg

In [2]:
complete_df = pd.read_csv('../raw_data/complete_df.csv')

/var/folders/2n/3_ffywf16v9b2gcv5svq7k8c0000gp/T/ipykernel_30141/1215370102.py:1: DtypeWarning: Columns (20,31) have mixed types. Specify dtype option on import or set low_memory=False.
  complete_df = pd.read_csv('../raw_data/complete_df.csv')

In [3]:
final_to_model_df = pd.read_csv('../raw_data/final_to_model_df.csv')

In [4]:
complete_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [5]:
final_to_model_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam,innings_total,TeamA_batting_average,TeamB_batting_average,TeamA_innings_total,TeamB_innings_total
0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,bat,gujarat titans,130,155.397906,166.437500,130.0,133.0
1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,field,rajasthan royals,157,155.707965,155.397906,157.0,161.0
2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,field,royal challengers bangalore,207,155.707965,169.866667,207.0,193.0
3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,field,gujarat titans,188,155.397906,166.437500,188.0,191.0
4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,bat,punjab kings,157,155.546053,158.518349,157.0,160.0

In [6]:
final_to_model_df['Team1_points_against_avg'] = final_to_model_df.groupby('Team1')['TeamB_innings_total'].transform('mean')

In [7]:
final_to_model_df['Team2_points_against_avg'] = final_to_model_df.groupby('Team2')['TeamA_innings_total'].transform('mean')

In [8]:
final_to_model_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam,innings_total,TeamA_batting_average,TeamB_batting_average,TeamA_innings_total,TeamB_innings_total,Team1_points_against_avg,Team2_points_against_avg
0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,bat,gujarat titans,130,155.397906,166.437500,130.0,133.0,151.561798,167.666667
1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,field,rajasthan royals,157,155.707965,155.397906,157.0,161.0,146.976000,162.184466
2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,field,royal challengers bangalore,207,155.707965,169.866667,207.0,193.0,146.976000,176.285714
3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,field,gujarat titans,188,155.397906,166.437500,188.0,191.0,151.561798,167.666667
4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,bat,punjab kings,157,155.546053,158.518349,157.0,160.0,145.594203,164.537037

## Team1_MVP_average and Team2_MVP_average

In [9]:
complete_df = complete_df.drop_duplicates(subset='ID', keep='first')

In [10]:
complete_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
469,1312198,1,0,1,V Kohli,Mohsin Khan,F du Plessis,NaN,0,0,...,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
725,1312197,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
977,1304116,1,0,1,PK Garg,LS Livingstone,Abhishek Sharma,NaN,1,0,...,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [11]:
complete_df[complete_df.ID== 1312199]

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [12]:
#df.to_csv('../raw_data/test2.csv')

In [13]:
def get_match_winner(player_of_match, team1_players, team2_players):
    if pd.isna(player_of_match):
        return 'N/A'  
    
    if pd.isna(team1_players):
        team1_players = []  
    
    if pd.isna(team2_players):
        team2_players = [] 
    
    if player_of_match in team1_players:
        return 'Team1'
    elif player_of_match in team2_players:
        return 'Team2'
    else:
        return 'N/A'

In [14]:

complete_df['Team_MVP'] = complete_df.apply(lambda row: get_match_winner(row['Player_of_Match'], row['Team1Players'], row['Team2Players']), axis=1)

In [15]:
complete_df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'innings_total', 'City', 'Date',
       'Season', 'MatchNumber', 'Team1', 'Team2', 'Venue', 'TossWinner',
       'TossDecision', 'SuperOver', 'WinningTeam', 'WonBy', 'Margin', 'method',
       'Player_of_Match', 'Team1Players', 'Team2Players', 'Umpire1', 'Umpire2',
       'Team_MVP'],
      dtype='object')

In [16]:
complete_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,Team_MVP
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,Team2
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,Team2
469,1312198,1,0,1,V Kohli,Mohsin Khan,F du Plessis,NaN,0,0,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,Team1
725,1312197,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,Team2
977,1304116,1,0,1,PK Garg,LS Livingstone,Abhishek Sharma,NaN,1,0,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,Team2

In [17]:
def replace_team_mvp_with_name(row):
    if row['Team_MVP'] == 'Team1':
        return row['Team1']
    elif row['Team_MVP'] == 'Team2':
        return row['Team2']
    else:
        return row['Team_MVP']

In [18]:
complete_df['Team_MVP'] = complete_df.apply(replace_team_mvp_with_name, axis=1)

In [19]:
complete_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,Team_MVP
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,Gujarat Titans
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,Rajasthan Royals
469,1312198,1,0,1,V Kohli,Mohsin Khan,F du Plessis,NaN,0,0,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,Royal Challengers Bangalore
725,1312197,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,Gujarat Titans
977,1304116,1,0,1,PK Garg,LS Livingstone,Abhishek Sharma,NaN,1,0,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,Punjab Kings

In [20]:
team_mvp_counts = complete_df['Team_MVP'].value_counts().reset_index()
team_mvp_counts

                       Team_MVP  count
0                Mumbai Indians    129
1           Chennai Super Kings    123
2         Kolkata Knight Riders    114
3   Royal Challengers Bangalore    111
4              Rajasthan Royals     96
5               Kings XI Punjab     89
6           Sunrisers Hyderabad     74
7              Delhi Daredevils     66
8                Delhi Capitals     36
9               Deccan Chargers     29
10                Pune Warriors     14
11                 Punjab Kings     12
12                Gujarat Lions     11
13               Gujarat Titans     11
14       Rising Pune Supergiant     10
15         Lucknow Super Giants      9
16      Rising Pune Supergiants      6
17         Kochi Tuskers Kerala      6
18                          N/A      4

In [21]:
team_mvp_counts.columns = ['Team_MVP', 'MVP_Count']

# Create the columns Team1_MVP_appearances e Team2_MVP_appearances
complete_df = complete_df.merge(team_mvp_counts, left_on='Team1', right_on='Team_MVP', how='left').fillna(0)
complete_df.rename(columns={'MVP_Count': 'Team1_MVP_appearances'}, inplace=True)

complete_df = complete_df.merge(team_mvp_counts, left_on='Team2', right_on='Team_MVP', how='left').fillna(0)
complete_df.rename(columns={'MVP_Count': 'Team2_MVP_appearances'}, inplace=True)

# Drop columns
complete_df.drop(['Team_MVP_x', 'Team_MVP_y', 'Team_MVP'], axis=1, inplace=True)

In [22]:
complete_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,Team1_MVP_appearances,Team2_MVP_appearances
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,0,...,Wickets,7.0,0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,96,11
1,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,0,0,0,...,Wickets,7.0,0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,111,96
2,1312198,1,0,1,V Kohli,Mohsin Khan,F du Plessis,0,0,0,...,Runs,14.0,0,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,111,9
3,1312197,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,0,...,Wickets,7.0,0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,96,11
4,1304116,1,0,1,PK Garg,LS Livingstone,Abhishek Sharma,0,1,0,...,Wickets,5.0,0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,74,12

In [23]:
# Now, let's create the average of MVP appearences
total_games_team1 = complete_df['Team1'].value_counts()
total_games_team2 = complete_df['Team2'].value_counts()

In [24]:
total_games = total_games_team2 + total_games_team1

In [25]:
total_games.sort_values(ascending=False)

Mumbai Indians                 231
Royal Challengers Bangalore    226
Kolkata Knight Riders          223
Chennai Super Kings            208
Rajasthan Royals               192
Kings XI Punjab                190
Delhi Daredevils               161
Sunrisers Hyderabad            152
Deccan Chargers                 75
Delhi Capitals                  63
Pune Warriors                   46
Gujarat Lions                   30
Punjab Kings                    28
Gujarat Titans                  16
Rising Pune Supergiant          16
Lucknow Super Giants            15
Kochi Tuskers Kerala            14
Rising Pune Supergiants         14
Name: count, dtype: int64

In [26]:
complete_df['Team1_MVP_average'] = complete_df['Team1_MVP_appearances'] / total_games[complete_df['Team1']].values
complete_df['Team2_MVP_average'] = complete_df['Team2_MVP_appearances'] / total_games[complete_df['Team2']].values

In [27]:
complete_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,Team1_MVP_appearances,Team2_MVP_appearances,Team1_MVP_average,Team2_MVP_average
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,0,...,0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,96,11,0.500000,0.687500
1,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,0,0,0,...,0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,111,96,0.491150,0.500000
2,1312198,1,0,1,V Kohli,Mohsin Khan,F du Plessis,0,0,0,...,0,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,111,9,0.491150,0.600000
3,1312197,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,0,...,0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,96,11,0.500000,0.687500
4,1304116,1,0,1,PK Garg,LS Livingstone,Abhishek Sharma,0,1,0,...,0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,74,12,0.486842,0.428571

## Merge the 4 new features in the dataset

In [28]:
# final dataset = final_to_model_df.csv  -

In [29]:
reduced_complete_df = complete_df[['ID', 'Team1_MVP_average', 'Team2_MVP_average']]

In [30]:
reduced_complete_df

          ID  Team1_MVP_average  Team2_MVP_average
0    1312200           0.500000           0.687500
1    1312199           0.491150           0.500000
2    1312198           0.491150           0.600000
3    1312197           0.500000           0.687500
4    1304116           0.486842           0.428571
..       ...                ...                ...
945   335986           0.511211           0.386667
946   335985           0.558442           0.491150
947   335984           0.409938           0.500000
948   335983           0.468421           0.591346
949   335982           0.491150           0.511211

[950 rows x 3 columns]

In [31]:
final_data = pd.merge(final_to_model_df, reduced_complete_df, on='ID')

In [32]:
final_data.shape

(950, 20)

In [33]:
final_data.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam,innings_total,TeamA_batting_average,TeamB_batting_average,TeamA_innings_total,TeamB_innings_total,Team1_points_against_avg,Team2_points_against_avg,Team1_MVP_average,Team2_MVP_average
0,1312200,ahmedabad,2022-05-29,2022,final,rajasthan royals,gujarat titans,"narendra modi stadium, ahmedabad",rajasthan royals,bat,gujarat titans,130,155.397906,166.437500,130.0,133.0,151.561798,167.666667,0.500000,0.687500
1,1312199,ahmedabad,2022-05-27,2022,qualifier 2,royal challengers bangalore,rajasthan royals,"narendra modi stadium, ahmedabad",rajasthan royals,field,rajasthan royals,157,155.707965,155.397906,157.0,161.0,146.976000,162.184466,0.491150,0.500000
2,1312198,kolkata,2022-05-25,2022,eliminator,royal challengers bangalore,lucknow super giants,eden gardens,lucknow super giants,field,royal challengers bangalore,207,155.707965,169.866667,207.0,193.0,146.976000,176.285714,0.491150,0.600000
3,1312197,kolkata,2022-05-24,2022,qualifier 1,rajasthan royals,gujarat titans,eden gardens,gujarat titans,field,gujarat titans,188,155.397906,166.437500,188.0,191.0,151.561798,167.666667,0.500000,0.687500
4,1304116,mumbai,2022-05-22,2022,70,sunrisers hyderabad,punjab kings,wankhede stadium,sunrisers hyderabad,bat,punjab kings,157,155.546053,158.518349,157.0,160.0,145.594203,164.537037,0.486842,0.428571

In [34]:
final_data.to_csv('../raw_data/final_data.csv')